.btnContainer {
    position: absolute;
    bottom: 5%;
}
.button {
    width: 222px;
    padding: 16px 53px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    cursor: pointer;
    border: none;
}
.button:hover {
    background: #FF8000;
    color: #fff;
    box-shadow: 0 0 5px #FFFFFF, 0 0 25px #FFFFFF, 0 0 50px #FFFFFF, 0 0 100px #FFFFFF;
    border: none;
}