.title-ModalWindowPlayer {
    border-bottom: 1px solid #fff;;
    font-size: 30px;
    margin: 25px 0 15px 0;
    color: #fff;
    text-align: center;
}
.text-ModalWindowPlayer {
    font-size: 22px;
    margin: 5px 0;
    color: #fff;
}