.gameZone-container {
    background: linear-gradient(to bottom,rgb(246, 224, 23), rgb(172, 34, 91));
	width: 600px;
	height: 600px;
	margin-top: 20px;
	border-radius: 5px;
	padding: 5px;
	display: grid;
	grid-gap: 5px;
}
.ul-EASY {
	grid-template-columns: repeat(4, 1fr);
}
.ul-MIDDLE {
	grid-template-columns: repeat(6, 1fr);
}
.ul-DIFFICULT {
	grid-template-columns: repeat(8, 1fr);
}
.gameZone-container > li {
	width: 100%;
	height: 100%;
    list-style-type: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 5px;
	position: relative;
	transform-origin: center;
	transform-style: preserve-3d;
	transition: transform 1s ease;
	object-fit: cover;
	background-size: cover;
	user-select: none;
}
img {
	backface-visibility: hidden;
}
.card {
	background-color: #fff;
	width: 100%;
	transform: rotateY(180deg);
	user-select: none;
}
.inverted {
	transform: rotateY(180deg);
}
.notInverted {
	transform: rotateY(0deg);
}
.lock {
	transform: rotateY(180deg);
	animation: increase 1000ms linear;
}
.lock > img {
	animation: increase 1000ms linear;
}
@keyframes increase {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}